/*  /////////////////
    Your task
    /////////////////

    1. Get the 3 `.column` classes next
      to one another.

    2. All 3 must be equal in width


    /// Note
    It'll be a lot easier if you add
    a class to the parent <div> in
    the HTML :)

    ///////////////// */

.container {
	display: flex;
	margin: 2em;
	border: 2px solid red;
	text-align: center;
}

.column {
	width: 33.33%;
	margin: 0.5em;
	padding: 2rem;
	border: 2px solid black;
}
