/* ///////////////
   YOUR TASK
   ///////////////

  1.  Have the logo on the left, and the
      navigation on the right side

  2.  Use flexbox to have the navigation
      items to go next to one another

  3   Vertically center the nav items

*/

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: black;
	color: white;
	padding: 2rem;
}

.logo {
	width: 10rem;
	margin: 2em 0;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav a {
	color: inherit;
}
nav a:hover,
nav a:focus {
	color: yellowgreen;
}
ul li + li {
	margin-left: 1em;
}

.container {
	margin: 0 2em;
	text-align: center;
}

@media (min-width: 950px) {
	header {
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		padding: 4em;
	}
	header nav {
		margin-top: 0;
	}
	.logo {
		width: 20rem;
	}
	.container {
		margin: 0 auto;
		text-align: start;
	}
	.container h1 {
		margin-top: 1em;
	}
}
