/* ///////////////
   YOUR TASK
   ///////////////

  1.  Without changing the flex-direction
      the header and footer must have an
      actual width of 100%

  2.  WIOUTOUT USING A MEDIA QUERY
      The main and aside should stack on
      smaller screens, but go next to one
      another on large screens

  3.  The main should be larger, and grow
      faster than the aside.

      main ideal width: 56rem
      aside ideal width: 25rem

  4.  While the above is their ideal widths
      both should be flexible and be able to
      grow and shrink to fit the available
      space

*/

.flex-layout {
	display: flex;
	flex-flow: row wrap;
}

header,
footer {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	padding: 2rem;
	background: black;
	color: white;
}

main {
	flex-basis: 56rem;
	flex-grow: 2;
	padding: 3rem;
}
aside {
	flex-basis: 25rem;
	flex-grow: 1;
	padding: 3rem;
	font-size: 1.125rem;
}
