header {
	margin-bottom: 3rem;
}

.container {
	padding: 0 2em;
	max-width: 75rem;
	margin: 0 auto;
}

.content-sidebar {
	display: flex;
	flex-direction: row wrap;
	align-items: flex-start; /* Stop from aside stretching if the main content is too long */
	gap: 4rem;
}

main {
	flex-grow: 9999; /* Make aside flex-grow locked in at a specific fixed size */
	flex-basis: 50%; /* Effect where main is breaking when screen go smaller */
}

aside {
	flex-basis: 20rem; /* Locked it in at a fixed size */
	flex-grow: 1; /* Smaller screen size can grow */
	border: 4px solid black;
	padding: 1em;
}
